name: tests-orders

on:
  push:
    paths:
      - 'app/orders/**'

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - run: cd app/orders && npm install && npm run test:ci
